
body{
    background-image: url("../Imagenes/RegistroPacientes.PNG");
    background-size: 100%;
    background-position-x: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: rgb(255, 255, 255);
}.box{
    border: 2px solid rgb(0, 0, 0);
    height: 775px;
    width: 850px;
    margin: 45px 0px 0px 50px ;
    position: relative;
    left: 12%;
}
#bottom_registrar{
    position: relative;
    left: 40%;
    top:8%;
}
#bottom_ver{
    position: relative;
    left: 44%;
    top:5%;
}