body{
    background-image: url("../Imagenes/FondoInicioSesion.jpg.jpeg");
    background-position: 50%;
    background-size: 100%;
}

/* TEXTO DE inicio de sesion*/ 
#div_InicioDeSesion{
    text-align: center;
    margin-top: 3%;
}
#txtInicioDeSesion{
    font-weight: 900;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: beige;
}

/*FORMULARIO*/
#div_formulario{
    background-color: rgb(194, 248, 255);
    height: 450px;
    width:500px;
    border-radius: 9px;
    box-shadow: 7px 13px 40px black;
    position: relative;
    left: 5%;
}
h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:xx-large;
    font-weight: 700;
    text-align: center;
    margin-top: 2%;
}
#div_id{
    display: flex;
    align-items: center;
    justify-content: center;
}
.input{
    width: 50%;
}
#div_buttom{
    display: flex;
    align-items: center;
    justify-content: center;
}
#buttomEntrar{
    background-color: darkcyan;
}
#buttomInvitado{
    background-color: brown;
}
