.box{
    border: 1px solid rgb(0, 0, 0);
    height: 625px;
    width: 850px;
    margin: 80px 0px 0px 50px ;
    position: relative;
    left: 12%;
}
#bottom_ver{
    position: relative;
    left: 40%;
    top:90%;
}