/*HOME*/ 
#home{
    align-items: center;
}
#txtHome{
    text-align: justify;
    text-align: center;
    letter-spacing: 5px;
    font-weight: bold;
    font-size: 15px;
}
/* TEXTO DE BUSQUEDA PACIENTE */ 
#div_BusquedaPaciente{
    text-align: center;
}
#txtBusquedaPaciente{
    font-weight: 900;
}
/* TEXTO DE ID PACIENTE*/ 
#div_IDPaciente{
    text-align: center;
}
/*BOTTOM BUSCAR*/ 
div.center{
    text-align: center;
}


