/*HOME*/ 
#home{
    align-items: right;
}
#bottomHome{
    position: relative;
    right: 2%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 750;
    font-size: larger;
}
/* TEXTO DE ELIMINAR USUARIO*/ 
#div_EliminarUsuario{
    text-align: center;
}
#txtEliminarUsuario{
    font-weight: 900;
}
/* TEXTO DE ID USUARIO*/ 
#txtIDUsuario{
    text-align: center;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}
/*BOTTOM ELIMINAR*/ 
div.center{
    text-align: center;
}
#bottomEliminar{
    padding: 30px 32px;
    font-weight: 750;
    font-size:xx-large;
}

