/*HOME*/ 
#home{
    align-items: center;
}
#bottomHome{
    align-items: center;
}
/* TEXTO DE ELIMINAR USUARIO*/ 
#div_EliminarUsuario{
    text-align: center;
}
#txtEliminarUsuario{
    font-weight: 900;
}
/* TEXTO DE NOMBRE*/ 
#div_Nombre{
    text-align: left;
}
/* TEXTO DE APELLIDO*/ 
#div_Apellido{
    text-align: left;
}
/* TEXTO DE ID USUARIO*/ 
#div_IDUsuario{
    text-align: left;
}
/*BOTTOM ELIMINAR*/ 
div.center{
    text-align: center;
}
#bottomEliminar{
    padding: 30px 32px;
}
