# ProyectoIntegrador
/*HOME*/ 
#home{
    align-items: center;
}
#bottomHome{
    align-items: center;
}
/* TEXTO DE EDITAR PACIENTE*/ 
#div_EditPaciente{
    text-align: center;
}
#txtEditarPaciente{
    font-weight: 900;
}

/*BOTTOM BUSCAR*/ 
div.center{
    text-align: center;
}
#bottomRegistrar{
    padding: 30px 32px;
}
